<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/css/style.css">
  <title>Document</title>
</head>
<body>
  <div class="box-root padding-top--24 flex-flex flex-direction--column" style="flex-grow: 1; z-index: 9;">
    <div class="box-root padding-top--48 padding-bottom--24 flex-flex flex-justifyContent--center">
      <h1><a href="http://blog.stackfindover.com/" rel="dofollow">Autenticar Usuario</a></h1>
    </div>
  <form action="/cadastro" method="post">
    <head>
      <meta charset="utf-8">
      <title>Autenticar</title>
      <link rel="stylesheet" type="text/css" href="style.css">
    </head>
    
    <body>
       <div class="formbg-outer">
       <div class="formbg">
       <div class="formbg-inner padding-horizontal--48">
      <form id="stripe-login">
     
       <div class="field padding-bottom--24">
       <label for="text">usuario</label>
      <input type="text" name="user" id="user">
       </div>
       <div class="field padding-bottom--24">
       
        <p>
        <label for="password">Senha</label>
       <input type="password" name="password">
      </p>
    </div>


     <div class="field padding-bottom--24">
      <input type="submit" value="Confirmar">
</div>
</form>
</div>
</div>
</div>
</div>
</div>
</div>
</body>

  </form>
</body>
</html>